In [5]:
import pandas as pd

In [13]:
#pip install unidecode
from unidecode import unidecode

In [24]:
df = pd.read_csv('escolas.csv')
df.head()
df['id'] = df['id'].astype(str).str.zfill(3)
df['Escolas_Postos'] = df['Escolas_Postos'].apply(lambda x: unidecode(x))
df['BAIRRO'] = df['BAIRRO'].apply(lambda x: unidecode(x))
df['ENDEREÇO '] = df['ENDEREÇO '].apply(lambda x: unidecode(x))
df['ENDEREÇO '] = df['ENDEREÇO '].str.replace('R.', 'Rua')
df['ENDEREÇO '] = df['ENDEREÇO '].str.replace('Pça.', 'Praça')
df['ENDEREÇO '] = df['ENDEREÇO '].str.replace('Praca', 'Praça')
df['ENDEREÇO '] = df['ENDEREÇO '].str.replace('Estr.', 'Estrada')
df['ENDEREÇO '] = df['ENDEREÇO '].str.replace('Av.', 'Avenida')
df['ENDEREÇO '] = df['ENDEREÇO '].str.replace('Av', 'Avenida')


# criar uma coluna chamada NUMERO_ENDERECO :
# Usamos str.extract('(\d+)') para extrair todos os números da coluna 'Endereço' ...
# ...e criar uma nova coluna 'Número' com esses números. A expressão regular (\d+) corresponde a um ou mais dígitos.
df['NUMERO_ENDERECO'] = df['ENDEREÇO '].str.extract('(\d+)')

# A coluna de numero_endereço exibe NaN quando não encontra os números. Vamos colocar S/N no lugar de NaN
# Substitua os NaN por "S/N" na coluna 'Número'
df['NUMERO_ENDERECO'] = df['NUMERO_ENDERECO'].fillna('S/N')

# TRATANDO OS NOMES DAS COLUNAS
# Remova espaços à direita nos nomes de coluna
df.columns = df.columns.str.strip()

# Renomeie todas as colunas para o formato Snake Case
df.columns = df.columns.str.upper().str.replace(' ', '_')

# Usando .upper() nas colunas para tornar todo o conteúdo em letras maiúsculas
df = df.apply(lambda x: x.str.upper())

df

,ID,ESCOLAS_POSTOS,BAIRRO,ENDEREÇO,LAT,LON,NUMERO_ENDERECO
0,178,CENTRO INTEGRADO DE EDUCACAO PUBLICA HENFIL,CAJU,RUA CARLOS SEIDL S/NO,"-22,880888","-43,225326",S/N
1,634,EM ALICE DO AMARAL PEIXOTO,BENFICA,RUA EBANO 187,"-22,889574","-43,236202",187
2,483,EM CELESTINO SILVA,CENTRO,"RUA DO LAVRADIO, 56","-22,909293","-43,183579",56
3,476,ESCOLA MUNICIPAL FLORIANO PEIXOTO,SAO CRISTOVAO,PRAÇA ARGENTINA 20,"-22,897629","-43,227456",20
4,132,EM PEREIRA PASSOS,RIO COMPRIDO,PRAÇA CONDESSA PAULO DE FRONTIN 45,"-22,924412","-43,208579",45
...,...,...,...,...,...,...,...
147,474,EM ENGENHEIRO GASTAO RANGEL,GUARATIBA,ESTRADA DO MAGARCA 9.183,"-22,98046","-43,643545",9
148,301,EM JONATAS SERRANO,GUARATIBA,"ESTRADA DO MATO ALTO, S/NO","-22,953163","-43,577409",S/N
149,215,E.M. NARCISA AMALIA,ILHA DE GUARATIBA,ESTRADA TEODORETO DE CAMARGO S/N.O,"-23,009084","-43,537582",S/N
150,606,EM PROFESSOR CASTILHO,ILHA DE GUARATIBA,CAMINHO DA MATRIZ 4406,"-22,994124","-43,593683",4406
151,069,ESCOLA MUNICIPAL CARDEAL ARCOVERDE,MADUREIRA,RUA AGOSTINHO BARBALHO 401,"-22,876082","-43,343369",401